{% extends "base.html.twig"  %}

{% block title %}
    {{ page.titre }} - SIL NTI
{% endblock %}

{% block body %}
    <h1>{{ page.titre }}</h1>
    <div>
        {{ page.contenu|raw }}
    </div>
{% endblock %}