{% extends "base.html.twig" %}

{% block body %}
	<h1>Administration</h1>
	<ul>
		<li><a href="{{ path('actualite_index') }}" >Actualités</a></li>
		<li>Utilisateurs</li>
		<li>Pages</li>
		<li>Fichiers</li>
	</ul>
{% endblock %}
