{% extends "base.html.twig" %}

{% block body %}
	<h1>Administration</h1>
	<ul>
		<li><a href="{{ path('actualite_index') }}" >Actualités</a></li>
		<li><a href="{{ path('admin_user_index') }}" >Utilisateurs</a></li>
		<li><a href="{{ path('admin_page_index') }}" >Pages</a> et <a href="{{ path('admin_categorie_index') }}" >catégories</a></li>
		<li>Fichiers</li>
	</ul>
{% endblock %}
